# All
.gitattributes
*.o

# Windows 
Windows/Debug/*
*.opensdf
*.sdf
*.tlog
*.lastbuildstate
*.idb
*.so.*
*.suo
antlrcpp/antlr4_cpp/antlr4_cpp.opensdf
antlrcpp/antlr4_cpp/antlr4_cpp.sdf
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/antlr4_cpp.tlog/CL.read.1.tlog
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/antlr4_cpp.tlog/CL.write.1.tlog
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/antlr4_cpp.tlog/antlr4_cpp.lastbuildstate
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/antlr4_cpp.tlog/cl.command.1.tlog
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/antlr4_cpp.tlog/unsuccessfulbuild
antlrcpp/antlr4_cpp/antlr4_cpp/Debug/vc120.idb

# Apple ignores
Apple/antlrcpp.xcodeproj/project.xcworkspace/
Apple/antlrcpp.xcodeproj/xcuserdata/
.DS_Store

# Linux
obj